/* Globale stijlen */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    
}
body,
button,
input,
textarea {
    font-family: "Poppins", sans-serif;
	overflow: hidden;
   
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}



#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #262626;
  }

/* Navigatiemenu */
nav {
   
    top: 0;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: "Poppins", sans-serif;
  
}
/* Stijl voor het actieve menu-item */
.menu li.active a {
    color: #FF0000; /* Pas de gewenste stijl aan */
}



/* Rest van de CSS-stijlen... */


.logo img {
    max-width: 100px;
    -webkit-filter: invert(100%); 
    filter: invert(100%);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
}

/* Media query voor kleinere schermen */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #424141;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Voeg een subtiele schaduw toe */
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 00;
        padding: 10px 0;
    }
	  .menu a:hover {
        color: #ff9900; /* Verander de kleur bij hover */
    }

    .menu a {
        color: white;
        text-decoration: none;
        transition: color 0.3s ease; /* Voeg een overgang toe voor vloeiende kleurveranderingen */
    }



    .menu-toggle {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 20px;
    }
}

.menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.active {
    color: white;
    text-decoration: none;
}

/* Media query voor kleinere schermen */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #424141;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Voeg een subtiele schaduw toe */
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        margin: 00;
        padding: 10px 0;
    }

    .menu a {
        color: white;
        text-decoration: none;
        transition: color 0.3s ease; /* Voeg een overgang toe voor vloeiende kleurveranderingen */
    }



    .menu-toggle {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 20px;
    }
}


/* Header */
header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    text-align: left; 
    padding: 20vh 10%; 
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    position: relative;
    color: white;
}


.highlight {
    color: #ff9900; 
}

.btn {
    display: inline-block;
    padding: 5px 18px;
    background-color: #302598; 
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 60px;
    transition: background-color 0.3s ease; 
}

.btn:hover {
    background-color: #160c6f; 
}
@media (max-width: 768px) {
    /* Verberg het standaardmenu */
    .menu {
        display: none;
    }

    /* Toon het menu als het actief is */
    .menu.active {
        display: flex;
        flex-direction: column;
        background-color: #424141;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 1;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }

    /* Andere stijlaanpassingen voor het menu op kleinere schermen */
    .menu li {
        margin: 0;
        padding: 10px 0;
    }

    .menu a {
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;
        font-size: 18px; /* Pas de tekstgrootte aan */
        line-height: 1.5; /* Pas de regelafstand aan */
    }

    /* Voeg een herkenbaar pictogram toe voor het menu */
    .menu-toggle {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 20px;
    }
}
  